@model consume_api_bma.Models.Beneficiario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Beneficiario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficiarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficiarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.titularBolsaFamilia.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.titularBolsaFamilia.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.titularBolsaFamilia.nis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.titularBolsaFamilia.nis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeDependentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidadeDependentes)
        </dd>        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
