@model IEnumerable<consume_api_bma.Models.Beneficiario>

@{
    ViewData["Title"] = "Index";
}

<h1>Beneficiários</h1>

<p>
    <a asp-action="Create">Cadastrar novo Beneficiario</a>
</p>
@using (Html.BeginForm("FindBeneficiario", "Beneficiarios", FormMethod.Get))
{
    <span>Insira o nº NIS do Beneficiário:</span>
    <input type="text" name="nis" />
    <input type="submit" value="Buscar" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidadeDependentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titularBolsaFamilia.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titularBolsaFamilia.nis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidadeDependentes)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titularBolsaFamilia.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titularBolsaFamilia.nis)
                </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
